
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Lato:wght@400;700&display=swap');

*{
    
font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}


.menu ul li a {
    font-size: 16px;
    line-height: 20px;
    color:#19110b;
    font-weight:400; 
}

 a {
    font-size: 16px;
    line-height: 20px;
    color:#19110b;
    font-weight:400; 
    cursor:pointer;
    text-decoration: none;
}

.search i {
    font-size: 16px;
    line-height: 20px;
    color:black;
}

.hamburger{
    color:#19110b;
    line-height: 20px;
}
button a{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
   
}
ul li {

}
header{
    background-color: re;
    width:100%;
    position: fixed;
    height: auto;
    z-index: 99999999;

    border-top:1px solid rgba(71,85,105,.1) ;
    border-bottom: 1px solid rgba(71,85,105,.1) ;;
}
.image-box-container{
    max-width:1140px;
    margin:0 auto;
    width:100%;
flex-wrap: wrap;
position:relative;
z-index: 1;
justify-content: space-between;
display:flex;gap:3rem; 
flex-direction: row;
}
.image-box{
    border-radius: 15px;
    width: 45% ;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    padding:1rem;
    transition:transform .5s ease;
}
.image-box:hover{
    transform: scale(1.08);
}
.image-box img{
    width:100%;
    border-radius: 15px;
}
.image-box p{
    color:var(--p-color);
    line-height: var(--p-line-height);
    font-size: var(--p-font-size);
    font-family: 'Heebo', sans-serif;
}
.image-box span{
    color:var(--mute-text-color);
    line-height: var(--mute-line-height);
   
    font-size: var(--mute-font-size);
 
}
.image-box button:hover{
    background-color: #F8FAFC!important;
}
.drop-down-li ul{
    background-color: white;
    margin-top:15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-color: #F2F6FA;
}
main{
    padding-top:90px;
}
nav{
width:100%;
margin:0 auto;
max-width: 1140px;
padding:15px ;
display:flex;
justify-content: space-between;
align-items: center;
background-color: rgba(255,255,255,.5);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px) ;
/*

*/
}

.logo{
    width:10%
}
.bg{
    background-image: url("images/pattern.jpg");
    width:100%;
    height:650px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-overlay{
    position: absolute;width:100%;height:650px; background-color: #F2F6FA;opacity:.9;
}

ul li{
    display:inline-block;
    padding:1rem;  
}

.active-list{
    background-color: #19110b;
    color:white !important;
    padding:10px 20px;
    border-radius: 15px;
    text-align: center;
}
:has.active a{
    color:white !important;  
}
ul li a{
  
}
.drop-down-menu i{
    vertical-align: middle;
    margin-right:1rem;
}
.drop-down-menu-2 i{
    vertical-align: middle;
    margin-right:1rem;
}


.drop-down-menu{
  
    left:50%;
    transform: translateX(-50%);
    position:absolute;
 max-height: 0;
    width:350px;
    top:3rem;   
     overflow: hidden;
     transition: max-height .5s ease-in
}
.drop-down-menu-2{
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    max-height: 0;
    width:350px;
    top:3rem;   
     overflow: hidden;
     transition: max-height .5s ease-in
}
.drop-down-menu-show{
 
    max-height: 500px !important;
    z-index:2;
    transition:max-height .5s ease-in
}

.drop-down-li{
    position: relative;
}


.dropdown-container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row; 
    padding:.5rem;
}

.drop-down-li p{
    color:var(--mute-text-color);
    font-size: .875rem;
    line-height: 1.25rem;

}

.menu-active{
    display:block !important;
}

.drop-down-menu  .singleDropdownMenu:nth-last-child(-n+2),
.drop-down-menu-2  .singleDropdownMenu:nth-last-child(-n+2) {
    padding-bottom: 1rem;}
    
    .drop-down-menu p, .drop-down-menu-2 p{
        padding:1rem 0 0 1rem; 
    }
.singleDropdownMenu{ 
    display:flex;
     flex-direction: row;
     flex-basis:50%  
}
.custom{
    overflow: visible!important;  
}

.image-box{
    border: 1px solid rgba(71,85,105,.2);
}
@media only screen and (max-width:800px){
    
    .logo{
        width:20%
    }
    .image-box{
        width:100%!important;
    }
    .menu{
        display:none;

    }
    .image-box-container{
        margin-right:1rem;
        margin-left:1rem;
    }
    .bar{display:block!important;

    }
    ul{
        display:flex;
        flex-direction: column; 
      }
      .singleDropdownMenu{
          flex-basis:100% !important;
      }
     

      nav{
        flex-direction: column;
        align-items: flex-start;
      }
      .bar{
        padding:15px;
      }

      .drop-down-menu{
        left:initial;
        transform: initial;
        position:initial!important;
        max-height: 0;
           width:350px;
           top:3rem;   
            overflow: hidden;
            transition: max-height .1s ease-in
       }
       .drop-down-menu-2{
        left:initial;
        transform: initial;
        position:initial!important;
           max-height: 0;
           width:350px;
           top:3rem;   
           
            overflow: hidden;
            transition: max-height .1s ease-in
       }
     
}

